@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #505050;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#parentDiv{
  height: 600px;
  width: 600px;
}